version: "3.8"

services:
  nginx:
    ports:
      - "80:80"
    restart: always
    build:
      dockerfile: Dockerfile
      context: .
    container_name: nginx
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
      - DOMAIN_NAME=referrerproxy-env.eba-cxcmwwm7.us-east-1.elasticbeanstalk.com
    healthcheck:
      test: [ "CMD", "curl", "--silent", "--fail", "http://localhost" ]
      interval: 45s
      timeout: 5s
      retries: 3
