[pytest]

[report]
exclude_lines =
    pragma: no cover
    @abstractmethod
    @abc.abstractmethod
    type: ignore
    raise NotImplementedError
    def __repr__
    def __str__
    class .*\bProtocol\):
    pass
omit =
    glQiwiApi/ext/*
    */site-packages/*
    */tests/*
    */.eggs/*
    glQiwiApi/utils/mypy_hacks.py
    glQiwiApi/utils/compat.py
    glQiwiApi/utils/payload.py