[tool.poetry]
name = "glQiwiApi"
version = "1.0.3"
description = "The fast and lightweight wrapper of QIWI and YooMoney API's"
authors = ["Gleb Garanin <glebgar567@gmail.com>"]
repository = "https://github.com/GLEF1X/glQiwiApi"
documentation = "https://glqiwiapi.readthedocs.io/en/latest/"
packages = [
    { include = "./glQiwiApi"}
]
readme = 'README.md'
maintainers = [
    "GLEF1X <glebgar567@gmail.com>",
]
license = "MIT"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Natural Language :: Russian",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.7"
pytz = "2021.1"
aiofiles = "^0.6.0"
aiohttp = "^3.7.4.post0"
pydantic = "1.8.2"
wheel = "^0.36.2"
loguru = "^0.5.3"
# compatibility
contextvars = { version = "^2.4", python = "<3.7" }

[tool.poetry.dev-dependencies]
# tests
pytest-mock = "^3.6.1"
pytest = "^6.2.4"
pytest-asyncio = "^0.15.1"
pytest-cov = "^2.12.1"
black = { version = "^21.6b0", python = ">=3.6" }
mypy = "^0.910"
timeout-decorator = "^0.5.0"
flake8 = "^3.9.2"
asynctest = "^0.13.0"
async-timeout = "^3.0.1"
pytest-aiohttp = "^0.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
